body {
    color: #303030;
	font-family: "Space Grotesk";
	font-size: clamp(1rem, 2vw, 25px);
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	max-width: 1500px;

	padding: 50px 50px 50px 50px;
}

img {
	border-radius: 10px;
}

.italic {
	font-style: italic;
}

.image_layout_next {
	display: inline;
	align-items: center;
	gap: 1rem;

	margin: 50px;
	padding: 20px;
    height: auto; /* maintain aspect ratio */

	font-style: italic;
}

.image {
	display: block;
	align-items: center;
	gap: 1rem;

	float: right;
	margin-left: 40px;
	padding: 0px;
	width: 400px; /* or try max-width: 200px; */
    height: auto; /* maintain aspect ratio */

	font-style: italic;
}

@media (max-width: 768px) {
  .image {
		float: none;
		display: block;
		margin: 1rem auto;
		width: 100%;
		max-width: 100%;
	}
	.image_no_captions {
		float: none;
		display: block;
		margin: 1rem auto;
		width: 100%;
		max-width: 100%;
	}
}


.image_no_captions {
	float: right;
	margin : 40px;
}

#entries_background {
		position: absolute;
		left: 0;
		top: 0;
		width: 100000%;
		height: 100000%;
		z-index: -1;
		background: #F0F0F0;
		background-image: url('../assets/grid.jpg');
		background-repeat: repeat;
		/* filter: blur(100px); */
	}

#gradient {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100vw;
		height: 100px;
		background: linear-gradient(to top, rgba(255, 255, 255, 0.5), transparent);
		pointer-events: none;
		z-index: 999;
	}

.square {
	position: absolute;
	top: 10;
	left: 0;
	width: 1650px;
	height: 500vh;
	z-index: -1;
	background-color: #ffffff;
  	padding: 17px;
	overflow: auto;
}

h1 {
	color: #303030;
	font-family: "Kalnia";
	font-size: clamp(1rem, 5vw, 64px);
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}